[2021-06-25 13:36] oliverl-21 opened #2 "inventory variables"
instead of using the mentioned credential.yml file u can define the variables in your inventory. this allows to reuse the playbooks for multiple deployments and only change the inventory entry.

[code]

in your playbook you can reference it like this

[code]

[2021-06-25 15:15] oliverl-21 opened #3 "add a connection module"
would be great to have a connection module in this collection to not define the connection variables in every task.
This would allow to define these variables in the inventory vars

[2021-07-23 14:02] steinzi opened #6 "Ise Host documentation"
Hi, so spent the better part of the day trying to figure out with the ERS access for the module,
Turns out I needed to specify the port 9060 to the hostname, could you add a reference to the docs so people don't mess this up

Before:
`ise_hostname: myisehost.exampe.com` 🚫
After:
`ise_hostname: 'myisehost.exampe.com:9060'` ✅

The error handling leaves much to be desired, from the playbook output.
[

[2021-07-23 15:24] wastorga commented on #6
Hi, @steinzi .

Thank you for reporting an issue.

About the documentation of `ise_hostname`, it is something that we could improve, the collection assumes that your ISE API Gateway is configured and working so the `:9060` should not be needed.

For the error handling of the generators, I will look into it in more detail.

When a new patch version is ready, I will reply here.

[2021-07-24 13:43] steinzi commented on #6
Thanks @wastorga
It's just I'm pretty sure 80% + of your users first contact with your playbook will be on a lab ISE instance because no sane person would run a module they found out on the internet agains their prod :D

I can promise you you'll get a-lot more love if you include the 9060 port info since it's not super clear when you setup ise by yourself for the first time :D

Anyway, love the mo

[2021-08-16 22:42] aussietexan opened #8 "Condition playbook returns different response code if condition already exists - idempotence issue"
I created a playbook to build Conditions + Policy Set. I found that, if the Condition does not already exist, the playbook runs fine. If I run the playbook a second time, it errors due to a 'register' variable in the playbook.
From debug output, I found that the response code is different between the two runs which breaks the variable match.

Example from first playbook run (newly created Conditio

[2021-08-18 01:26] aussietexan opened #9 "identitySourceName attribute not available in cisco.ise.network_access_authentication_rules module"
When creating a new AuthC Policy using the 'cisco.ise.network_access_authentication_rules module' a fatal error is returned when using the 'identitySourceName' attribute in the play.

`fatal: [ise31-sa]: FAILED! => {"changed": false, "msg": "Unsupported parameters for 'cisco.ise.network_access_authentication_rules' module: identitySourceName Supported parameters include: id, identitySourceId, ifAu

[2021-08-18 14:54] kiwi-stefan opened #10 "Question about using Resource module for Network Device to create a new device"
Hi, I am struggling to find out how to set the variable getIpaddressExclude inside:
NetworkDeviceIPList:
    - getIpaddressExclude: string
      ipaddress: string
      mask: 0
What should I put in here? Do you have an example?

Rgds
Stefan

[2021-08-24 05:43] aussietexan commented on #10
The 'getIpAddressExclude' key is not required. It would only be used if you wanted to create a network device object using a range (e.g. 1.1.1.1-10) and exclude something within that range (e.g. 1.1.1.5).
When creating a new network device, there are mandatory values that must be set like IP address/range, name, profile, etc, and other optional values. The following playbook would work for creatin

[2021-09-15 14:37] chadd123 commented on #6
I agree with this bug/request.

I struggled with this for days, and reverted to using standard URI module, because I could not get these modules to function properly. I also am working in a dev environment.

Wasn't until i came across this bug posted by @steinzi , that I even realized what the error was caused by.

It is not clear that "the collection assumes that your ISE API Gateway is configure

[2021-09-30 17:04] eiddor commented on #9
Oddly enough, I'm trying to change the default device admin policy's identity source, and it takes that attribute, but I get a different error that I haven't been able to figure out:

I've tried different variations of the below:

[code]

This is the error I get:

[code]

[2021-10-01 19:16] jbogarin commented on #8
We are changing this to make it consistent. Should be done in about two weeks.

[2021-10-03 21:34] aussietexan commented on #8
Thanks Jose!

[2021-10-08 17:38] eiddor commented on #6
Circling back on this, when I test my playbooks with ISE 3.0, I get this message when I don't append `:9060` with my ISE hostname.

![image](https://user-images.githubusercontent.com/7586731/136599407-9157910c-d8d9-4b47-8ab7-36adbe615364.png)

As far as I can tell, my ERS/API Gateway settings are fine.  There is no "OpenAPI" setting in ISE 3.0 that I can find.  Once I set `:9060` for my ISE host,

[2021-11-10 09:44] ekorneyc opened #15 "Radius vs TACACS Network Access Device inconsistency"
Hello,

I would like to report an issue with the Ansible collection. When we create a TACACS device as part of the playbook, each subsequent run of the same playbook will result in "ok", meaning nothing to be changed, however if devices is configured with Radius, it will all the time show the "changed" status.

According to my reverse engineering the issue is happening because you replace the pass

[2021-11-10 09:54] ekorneyc opened #16 "Issue with Join to Active Directory operation"
Hello,

If ISE is already joined to the Active Directory, subsequent run of the playbook will fail. See below. Issue is reproducible in the lab, feel free to reach out if you require access.

TASK [Join all Nodes to Active Directory] ****************************************************************************************************************************************
task path: /Users/ekorneyc/Do

[2021-11-10 09:55] einarnn commented on #15
This issue will be addressed in ISE 3.1 Patch 1. The `radiusSharedSecret` will again be available in clear text.

[2021-11-10 19:58] ekorneyc commented on #15
Thank you. No more questions from my side on this issue.

[2021-11-15 23:02] wastorga commented on #16
Hi, @ekorneyc . This issue seems to be related to the API, as suggested by the 'msg'.
But at the moment, I am unsure of the best way to solve or work around the issue for subsequent runs. So, I will take a closer look tomorrow.

[2021-11-17 19:01] wastorga commented on #16
@ekorneyc

I think you could wrapped it in a block ... rescue structure.
https://docs.ansible.com/ansible/latest/user_guide/playbooks_blocks.html#handling-errors-with-blocks

[2021-12-22 18:54] ragu2k8 opened #19 "Create ISE repo does not work"
When using repo create module it fails with below error,

[code]

Ansible:

[code]

REST API works:
[code]

[2021-12-22 19:54] #19 closed

[2021-12-22 19:55] wastorga commented on #19
Hi, @ragu2k8. I replicated the issue, and the solution is now underway. The patch version of the collection will finish publishing in a little while.

[2021-12-22 20:01] ragu2k8 commented on #19
wow.. thats quick fix ..appreciate it. Thanks.

[2022-01-11 17:54] #2 closed

[2022-01-11 17:54] #3 closed

[2022-01-20 18:03] wastorga commented on #16
Hi, @ekorneyc.
Did you look into the link shared previously? Can we close this issue?

[2022-01-20 18:08] wastorga commented on #15
@einarnn, @ekorneyc
I will close the issue since Cisco ISE 3.1.1 was released.
Moreover, it appears it has more to do with the API than the Ansible collection.

[2022-01-20 18:08] #15 closed

[2022-01-20 18:17] #10 closed

[2022-01-20 18:30] wastorga commented on #6
Hi, @steinzi, @eiddor, @chadd123.
Since the creation of the issue, there have been many changes to the [README](https://github.com/CiscoISE/ansible-ise#ise-setup).
Please take a look.
If you find them sufficient, we could close the issue.
Otherwise, feel free to reply here.

[2022-01-26 09:38] Andersson007 opened #22 "Important information for collection maintainers"
##### SUMMARY
Dear maintainers,

This is important for your collections!

- In accordance with the [Community decision](https://github.com/ansible-community/community-topics/issues/51), we have created the [news-for-maintainers](https://github.com/ansible-collections/news-for-maintainers) repository for announcements of changes impacting collection maintainers (see the [examples](https://github.co

[2022-02-14 15:24] #22 closed

[2022-02-18 12:21] yzmar4real opened #24 "Cisco ISE Network Device Group Fetch"
Hi,
When you try to pull the existing device groups from ISE, the error 400 - page 2 does not exist keeps on coming up. When i look at the URL being pushed, its  href: https://<ise-ip>/ers/config/networkdevicegroup?page=2 . Even when there's no page referenced this is the standard URL pushed. When i use ERS on postman alone with https://<ise-ip>/ers/config/networkdevicegroup - everything works as

[2022-02-18 15:02] wastorga commented on #24
Hi, @yzmar4real
This issue seems to be caused by a problem in the ciscoisesdk. The problem is that only 404 errors are captured when attempting to get to the next page. I will make the necessary updates and notify you when done.

[2022-02-18 16:35] #24 closed

[2022-02-18 16:45] wastorga commented on #6
Hi, @steinzi, @eiddor, @chadd123.
Gently reminder to comment. If there is no comment, I will close this the following week.

[2022-02-18 16:46] eiddor commented on #6
Hey @wastorga - They look good to me!

[2022-02-18 16:51] wastorga commented on #6
Thanks, @eiddor. It is helpful to have some validation.
I will wait for @steinzi since he was the one who reported the issue.

[2022-02-18 16:54] wastorga commented on #16
Hi, @ekorneyc.
Gently reminder to comment. If there is no comment, I will close this issue due to inactivity the following weekend.

[2022-02-18 20:15] steinzi commented on #6
Looks good to me!

[2022-02-18 23:31] wastorga commented on #6
All right, I am closing this and the related pull request #7 .

[2022-02-18 23:31] #6 closed

[2022-02-23 16:11] wastorga commented on #16
Hi, @ekorneyc.
Another, gently reminder to comment.

[2022-02-25 22:46] #16 closed

[2022-03-25 23:56] jrogersfaneuil opened #28 "Error in network_device_info.py"
**Prerequisites**
* [x] Have you tested the operation in the API directly? Mostly (Curl came back empty)
* [x] Do you have the latest ISE Collection version? Yes

**Describe the bug**
I'm running The following playbook in the Cisco ISE 3.1 sandbox:
`- hosts: ise_servers
  gather_facts: no
  tasks:
    - name: Get all network devices
      cisco.ise.network_device_info:
        ise_hostname: <lab i

[2022-03-25 23:58] jrogersfaneuil commented on #28
![image](https://user-images.githubusercontent.com/66491475/160215847-1cf14402-af62-4d51-a1f2-c3bf266019d0.png)

[2022-03-26 00:15] jrogersfaneuil commented on #28
''- hosts: ise_servers
gather_facts: no
tasks:
- name: Get all network devices
    cisco.ise.network_device_info: ise_hostname: <lab ise IP>
    ise_username: admin
    ise_password:<admin pw>
    ise_verify: False''

[2022-03-26 00:16] wastorga commented on #28
Python >= 3.6, as the Cisco ISE SDK doesn't support Python version 2.x

[2022-03-26 00:20] jrogersfaneuil commented on #28
Good catch. That was a bad assumption on my part. I'll see if I can update Python on the lab machine and try again. Thanks!

[2022-03-26 02:03] jrogersfaneuil commented on #28
The sandbox is still having python version issues. I'll find a 3.6 machine later and open another issue if the error persists.

[2022-03-26 02:03] #28 closed

[2022-04-18 19:45] bootsmo opened #29 "Unable to delete out-of-the-box authorization rules from Default network access policy."
**Prerequisites**
* [ ] Have you tested the operation in the API directly?  No.
* [X] Do you have the latest ISE Collection version? yes.

**Describe the bug**
Receiving AttributeError during runtime while trying to delete authorization rules from default network access policy set.
[code]

**Expected behavior**
Expect to delete the default authorization rules that are in the default network access

[2022-04-18 21:28] bvargasre commented on #29
Hey @bootsmo, we are working on it.

[2022-04-19 23:11] bvargasre commented on #29
Hey @bootsmo, cisco.ise:2.3.1 has been published, try the request with this version again and let us know if is working for you.

[2022-04-20 01:38] bootsmo commented on #29
I rebuilt container and ensured v2.3.1 was used.  I am no longer getting the error messages at run time, however the delete process is not occurring.  I am testing with the same repro.yml as previously submitted.  Debug output shows the result of the delete call is "Object already absent". Console output results attached (IssueResults-v2.3.1.txt).
[IssueResults-v2.3.1.txt](https://github.com/Cisco

[2022-04-20 21:02] bvargasre commented on #29
Hi @bootsmo, I think I know what the error may be
I have seen your playbook and found the following that you are setiing wrongly
[code]
The id was being equals with the "item.rule.id" and not with the value of the item.rule.id
[code]

[2022-04-20 21:17] bootsmo commented on #29
@bvargasre - You're absolutely right.  I made the suggested change to my repro.yml and was able to delete the authorization rules as expected.  The final default authZ rule did not delete, but I believe that is expected operation when the default attribute flag is true.

Given these results I believe we can mark this issue as resolved.

[2022-04-20 21:30] #29 closed

[2022-04-28 21:18] bootsmo opened #32 "Runtime error when deleting network access authentication rules."
**Prerequisites**
* [ ] Have you tested the operation in the API directly?
* [X] Do you have the latest ISE Collection version?

**Describe the bug**
Runtime error when trying to delete network access authentication rules.  The error messages appear very similar to those seen when deleting policy sets using ansible-ise v2.3.0.
"AttributeError: 'NoneType' object has no attribute 'get'"

**Expected

[2022-04-29 16:18] fmunozmiranda commented on #32
Hey @bootsmo we are working on it, will keep you updated.

[2022-04-29 18:39] fmunozmiranda commented on #32
@bootsmo , A new version of ansible-ise (v2.3.2) was published, try that and let us know if it works for you.

[2022-04-29 19:13] bootsmo commented on #32
@fmunozmiranda - that seems to have fixed the issue.  Thanks again.

[2022-04-29 19:13] #32 closed

[2022-05-04 22:13] collinsjas opened #34 "mnt_session_by_mac_info returning 500 error"
**Prerequisites**
* [x ] Have you tested the operation in the API directly?
* [x ] Do you have the latest ISE Collection version?

**Describe the bug**
When using cisco.ise.mnt_session_by_mac_info I am getting error 500 from the server.

I am not getting any errors with cisco.ise.mnt_session_by_ip_info with the same device.

**Expected behavior**
I expect to get XML response in from ISE with sessi

[2022-05-04 23:10] collinsjas commented on #34
Found the issue I was having.  The letters needed to be UPPERCASE.  I applied a "| upper" to the variable being passed in and that corrected the error.

[2022-05-05 18:22] fmunozmiranda commented on #34
Hey @collinsjas, is there anything else I can help you?

[2022-05-05 19:10] collinsjas commented on #34
No, sorry meant to close with comment.

[2022-05-05 19:10] #34 closed

[2022-05-24 19:44] bvargasre opened #36 "The parameter repositoryName is missing in the repository module"
**Prerequisites**
* [X] Have you tested the operation in the API directly?
* [X] Do you have the latest ISE Collection version?

**Describe the bug**
repository module
When executing the module it fails because it needs the parameter `repositoryName` to perform the search by path and also to update and delete

[code]

**Expected behavior**
I expect that by adding this parameter you can use the mod

[2022-05-24 20:23] #36 closed

[2022-05-25 07:34] oliverl-21 opened #39 "netword_device authenticationSettings parameters"
**Prerequisites**
* [ ] Have you tested the operation in the API directly?
* [x] Do you have the latest ISE Collection version?

**Describe the bug**
Network Device AuthenticationSettings are misleading, according to the documentation Authentication Setting should look like this:

      authenticationSettings:
        dtlsRequired: false
        enableKeyWrap: false
        enableMultiSecret: fals

[2022-05-27 19:08] bvargasre commented on #39
Hi @oliverl-21 , reviewing the api documentation it is correct that `enableMultiSecret` is boolean and that `enable` is required. but reviewing further I saw that `enableMultiSecret` is really a string passing as a bool, this because `enableMultiSecret` supports sending bool `true/false` and string `"true"/"false"`, and in the get response of `/networkdevice/name/{name}` it shows that it is indeed

[2022-06-13 19:53] kvaleriy opened #41 "Request for NTP & Logging servers, API enable/disable"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Would like to provision NTP, Logging, enable/disable API feature

**Describe alternatives you've considered**
None

**Additional context**
None

[2022-06-13 20:09] kvaleriy opened #42 "ciscoisesdk.exceptions.VersionError: Unknown API version, known versions are 3.1.0 and 3.1.1"
**Prerequisites**
* [X] Have you tested the operation in the API directly? ISE returns version 3.1.0.518;
* [X] Do you have the latest ISE Collection version? Yes, 2.5.0.

**Describe the bug**
Ansible returns next error: `ciscoisesdk.exceptions.VersionError: Unknown API version, known versions are 3.1.0 and 3.1.1`.

**Expected behavior**
Expect to provision ISE with ansible.

**Screenshots**
Cisco

[2022-06-15 21:29] fmunozmiranda commented on #42
Hi @kvaleriy , I think that it's a problem with ciscoisesdk version, please verify that you're using `2.0.4` (latest) or  if you want to try it with your actual version you may include the `ise_version` variable, like this:
[code]

Try it, and let know us if is working for you.

---
**Note:**

For your current ciscoisesdk version, the supported ISE API versions are: [3.1.0, 3.1.1].

3.1.1 is equiv

[2022-06-16 19:46] kvaleriy commented on #42
Thanks, it works if I define ISE version within role, but it means that module can't read group_vars correctly and I think it is bug. Tried to procced on test and found next error:
[code]

[2022-06-16 21:01] jbogarin commented on #42
@kvaleriy to understand a bit more, within your host file or as part of the group_vars file you are defining the `ise_version` variable, but when you are running the playbook, it's not using it to connect to ISE?

[2022-06-20 17:14] fmunozmiranda commented on #42
Hey @kvaleriy , the reason for the error you're getting is due to using the latest ansible collection with an SDK version that isn't recommended, so that's why you're getting that version error. On the other hand, even if the "ise_version" variable is defined in group_vars, it has to be specified in the request header.
You can handle these variables more comfortably using YAML Anchoring, something

[2022-06-21 23:15] kvaleriy commented on #42
@fmunozmiranda I have tried to use previous version of Cisco ISE collection 2.4.1 and use the same approach as you defined in snippet, but still have the same:
[code]

[2022-06-23 23:11] fmunozmiranda opened #43 "cisco.ise.system_certificate_import Failed as Bad Request [400]"
**Prerequisites**
* [ x ] Have you tested the operation in the API directly?
* [ x ] Do you have the latest ISE Collection version?

**Describe the bug**
When trying to use `cisco.ise.system_certificate_import` you get the error `
[code]
 ## Role is olone inside playbook, what would be the issue?

**Expected behavior**
Import system certificates.

**Screenshots**
None.

**Environment (please compl

[2022-06-23 23:20] fmunozmiranda commented on #42
Hey @kvaleriy, apparently the issue initially detected was resolved, therefore it will be closed, a new one was opened to deal with more emphasis on this last problem you had, it is issue https://github.com/CiscoISE/ansible-ise/issues/43.

[2022-06-23 23:20] #42 closed

[2022-06-24 19:01] 1homas commented on #43
Please read the error:
`    "msg": "An error occured when executing operation. The error was: [400] - Import failed as SAML certificate cannot be used with any other role\n{\n  \"response\" : {\n    \"status\" : \"Fail\",\n    \"message\" : \"Import failed as SAML certificate cannot be used with any other role\",\n    \"id\" : null\n  },\n  \"version\" : \"1.0.0\"\n}"`

Change the attribute` saml:

[2022-06-24 19:14] fmunozmiranda commented on #43
@kvaleriy try this and let know us if works for you.

[2022-06-24 20:32] kvaleriy commented on #43
Changed  `saml: true` to `saml: false`, then it is appeared that for IMS we can't use certificate for some reason, strange:
[code]
Then I have turned off IMS, but got next error:
[code]
Path is correct(`/home/user/repos/network_ansible/roles/ciscoise/files/las.company.net_2022.crt`) in playbook, it is absolute. To proof that path is correct I do mistake(by adding `ii`) in path and it gives another

[2022-06-30 06:47] sugitk opened #44 "authorization_profile_info returns nothing when id is not specified"
**Prerequisites**
* [X] Have you tested the operation in the API directly?
* [X] Do you have the latest ISE Collection version?

**Describe the bug**

When a customer ran this playbook using the `cisco.ise.authorization_profile_info` module without specifying `id`, I heard that it returned nothing as below.  When specified the `id`, they got the result as expected.

### playbook
[code]

### result

[2022-06-30 09:42] #39 closed

[2022-06-30 20:15] bvargasre commented on #44
Hi @sugitk
I tested the `authorization_profile_info` module running the get by id, by name and get all, in all three cases it worked fine.
So if can add the variable `ise_debug` and set it to true, and send me the api Request and Response provided by `ise_debug`
[code]

[2022-07-04 02:23] sugitk commented on #44
@bvargasre
Thank you so much, the customer performed the `ise_debug` option so that they were able to see the API communitation.

And I asked the customer in detail, they wanted to see the detailed output in even not specifying the id.  I shared the API reference and the customer understood the diffecence between them.

https://developer.cisco.com/docs/identity-services-engine/v1/#!authorizationpr

[2022-07-04 02:23] #44 closed

[2022-07-07 14:34] bootsmo opened #45 "Multi-page data parsing error when retrieving defined SGTs."
**Prerequisites**
* [ ] Have you tested the operation in the API directly?
* [x] Do you have the latest ISE Collection version?

**Describe the bug**
Data type error when parsing  multi-page SGT list from SDK.  Ansible task used was:
[code]

[code]

**Expected behavior**
Retrieve multi-page list of defined SGTs from ISE.

**Screenshots**
Text file attached showing returned data, error message, ans

[2022-07-11 22:47] bvargasre commented on #45
Hi @bootsmo, ciscoisesdk has been updated to version 2.0.4, so try this new version and tell me if it works.

[2022-07-12 00:46] bootsmo commented on #45
@bvargasre - Upgrading ciscoisesdk to v2.0.4 appears to have corrected the issue.  My testing is showing the full data set being returned as expected.

[2022-07-12 00:46] #45 closed

[2022-07-31 03:16] yzmar4real opened #46 "Documentation update for Downloadable ACL section (DACL)"
**Is your feature request related to a problem? Please describe.**
The current documentation for DACL clearly shows how to perform single entry access-lists (e.g permit ip any any), however in a real scenario with multiple lines of access-lists, following the documentation will only lead to updating the last line of ACL as against inserting all of the new lines as required.

**Describe the solutio

[2022-08-03 19:07] bvargasre commented on #46
Hi @yzmar4real, thanks for reporting the issue, I will work on it.

[2022-08-24 17:14] RyanMBess opened #48 "Unable to create STG with ISE 3.1 Patch 0 or 3.1 with Patch 3"
I'm unable to create an STG with ansible.  I'm running as superadmin.  Below is the error.   Others work just fine but the STG for me doesn't work.  Thoughtgs?

ryan@ANSIBLE-ISE:~/ansible_ise/create_stg$ ansible-playbook -i inventory.txt playbook_createstg.yml -vvv
ansible-playbook [core 2.13.3]
  config file = /etc/ansible/ansible.cfg
  configured module search path = ['/home/ryan/.ansible/plugin

[2022-08-24 19:40] bvargasre commented on #48
Hi @RyanMBess
could you add the variable `ise_debug` and set it to true, and send me the api Request and Response provided by ise_debug.
[code]
also send me the playbook you used for the creation of the sgt

[2022-08-24 20:24] RyanMBess commented on #48
Hey @bvargasre
Will need to reset my lab as i was able to figured out the issue (will get you what you're asking for tomorrow).  I have 2 matrix's in my home lab.  One called Production and one call FailBack.  Once i removed the Failbox matrix AND set ISE to not allow multiple Matrix's it worked.  I had been communicating to another user over github on this topic and once i mentioned multiple matr

[2022-08-25 13:17] RyanMBess opened #49 "No idempotency"
Running playbooks should result in ansible tacking action on ise only once or when there's a change in the playbook.  I'm discovering that the ciscoISE's playbooks are NOT idempotent.  Thus everytime you run the playbook it actually makes the change even if it's alrady there.  Sometimes it just flat out fails such as in the creation of STG.  If you run the stg playbook > the stg is created.  You r

[2022-08-25 13:33] RyanMBess commented on #49
please delete this i was reading the output wrong

[2022-08-25 15:53] RyanMBess commented on #48
Before i reset my lab i went in and attempted to re-run the same stg playbook.  This should result in no changes being made as ansbile is idempotent.  However this resulted in an error.  This seems to only happen with the STG playbook.  I had previously thought this idenpotetcy issue effected all ISE playbooks but as best i can tell only exists in the STG playbook.  I will now reset my lab to get

[2022-08-25 16:14] RyanMBess commented on #48
I re-enabled "Multiple Matrices" and ran the attached playbook_createstg_error file.  This resulted in the ISEError.txt file.   Please let me know if you would like any additional info.

[ISEError.txt](https://github.com/CiscoISE/ansible-ise/files/9426509/ISEError.txt)
[playbook_createstg_error.txt](https://github.com/CiscoISE/ansible-ise/files/9426510/playbook_createstg_error.txt)

[2022-08-25 23:16] RyanMBess commented on #49
@wastorga  Actually please re-open this....not sure what i was looking at earlier to request it to be closed.  Not sure how many modules are impacted.

When creating an endpoint with the attached create_endpoint playbook, the first time it will create the endpoint.  if you re-run it fails as it doesn't appear to check if the endpoint is there...it just tries to make the same endpoint.
[create_endp

[2022-08-29 22:28] bvargasre commented on #49
Hi @RyanMBess
reviewing your playbook and api documentation `https://developer.cisco.com/docs/identity-services-engine/latest/#!endpoint`
I found the following:
The `name` field is the same as the `mac` field, that is why when searching it does not find it since there is none with the `name= Some device` and that is why it tries to create it again.
Apart from that, the `mac` has the following form

[2022-08-30 12:34] RyanMBess commented on #49
Morning @bvargasre,
What i'm trying to tell you is that with Ansible, you should be able to run the same commands over and over and over again and Ansible would only take action if the change is needed.  If you take your playbook in your last post and run it over and over you will see that upon the first time you run it, should the mac not be in ISE, the playbook will create it.  If you run it aga

[2022-08-30 15:41] fmunozmiranda commented on #41
Close due inactivity.

[2022-08-30 15:41] #41 closed

[2022-08-30 15:42] #46 closed

[2022-08-30 18:43] bvargasre commented on #48
Hi @RyanMBess could you pass the following info
[code]

[2022-08-30 18:58] RyanMBess commented on #48
Below is the data requested.  Are you saying that we should be able to create SGT's via the API when you have multiple matrices?

ryan@ANSIBLE-ISE:~/ansible_ise/master$ ansible --version
ansible [core 2.13.3]
  config file = /etc/ansible/ansible.cfg
  configured module search path = ['/home/ryan/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module location = /ho

[2022-08-31 07:14] paulcana opened #52 "cisco.ise.network_device module not idempotent"
network device module update ISE each time it is run even if there is no change, hence it is not idempotent
I noticed SNMP settings "originatingPolicyServicesNode" will be updated each time as well as Tacacs shared key
When no change is to be performed, it still return Object updated message
![image](https://user-images.githubusercontent.com/69456907/187616062-9ac46a5f-18c0-46a8-94de-f2e942b910ea.

[2022-08-31 08:14] paulcana opened #53 "cisco.ise.plugins.modules.personas_update_roles_services status incorrect"
When updating services on node, the status says nodes updated successfuly, however in ansible the status says no change were applied.
By checking on the node, we can see the changes were correctly applied.
module should be modified, so at least ansible status is correct when something is changed
![image](https://user-images.githubusercontent.com/69456907/187627399-7f7a47dc-665e-445a-bbc6-ceca18c9b

[2022-08-31 17:47] RyanMBess commented on #52
it's not just this one module.  Its a lot of them which makes these modules almost useless.

[2022-08-31 19:27] RyanMBess opened #54 "Inaccurate documentation"
Seems a number of links in the documentation doesn't have all parameters marked as required.  Here's an example
https://docs.ansible.com/ansible/latest/collections/cisco/ise/endpoint_module.html#ansible-collections-cisco-ise-endpoint-module

Per the above link only ise_hostname, ise_password, ise_username are the only parameters needed to create and endpoint.  Please update so we know what paramet

[2022-08-31 20:55] bvargasre commented on #52
Hi @paulcana could you pass the playbook you use

[2022-09-01 04:08] bvargasre commented on #48
Hi @RyanMBess , ansible-ise has been updated to version 2.5.3, so try this new version and tell me if it works.

With respect to the idempotency problem this is because a value is being used to be auto generated `value: -1` then when the playbook is re-ran it will detect changes since the value of the `value` field is not -1 but it will be another one that is auto generated, and when trying to upd

[2022-09-01 04:08] bvargasre commented on #49
Hi @RyanMBess , ansible-ise has been updated to version 2.5.3, so try this new version and tell me if it works.

For `endpoint`, the name field has been removed, since it is generated by the API using the mac parameter, generating confusion.
In fact in previous playbook according to the tests performed had no idempotency problems, but still to avoid problems of some of the behavior of the API the

[2022-09-01 04:08] bvargasre commented on #53
Hi @paulcana , ansible-ise has been updated to version 2.5.3, so try this new version and tell me if it works.

[2022-09-01 04:13] bvargasre commented on #54
Hi @RyanMBess This problem will be mentioned to cisco since they are the ones who provide us with the api documentation to generate the libraries, and it is expected to be solved in future versions.

[2022-09-01 12:05] paulcana commented on #53
Hello, we 2.5.3 the status is correct, however the security warning is still here and the module is not idempotent, this should be fixed
![image](https://user-images.githubusercontent.com/69456907/187909600-3e40d3f1-2bae-4eb8-a1da-f5c5dbc88854.png)

[2022-09-01 12:10] paulcana commented on #52
Hello @bvargasre
I created a simple role which loops on a directory in my var file to create all NADs
I then use a playbook which just call this role
below is the code of my role
`  - name: Create network device
    loop_control:
      loop_var: device
    cisco.ise.network_device:
      ise_hostname: "{{ise_hostname}}"
      ise_username: "{{ise_username}}"
      ise_password: "{{ise_password}}"

[2022-09-01 12:50] RyanMBess commented on #54
Thank you.

[2022-09-01 14:22] RyanMBess commented on #48
I can confirm that with 2.5.3 I'm now able to run a single playbook that has all my SGT's in it, and should it need to re-create one it will.  My issue now is that should it recreate a previously created SGT is that the ID is now new along with TAG value.  I'm not sure what downstream impact this would have.  It's like ansible is not storing this data when the SGT was first created so it can ensur

[2022-09-01 15:17] RyanMBess commented on #48
Or if you update the name of an SGT, it creates a new one.  When the object is created Ansible should store the ID of the SGT so it doesn't create a new SGT but rather update the name of the existing SGT.

[2022-09-02 05:24] 1homas commented on #48
Ryan,

I'm glad you got it working

I don't understand this latest issue:

When I run your playbook below multiple time it is idempotent.

Are you saying that if you create and delete and create an SGT with the same `name` or `value` via Ansible (or REST API) that the `id` (which is a UUID format like `06e068cd-028f-44cb-bd2c-c1c3dc528764`) of the resource may be different?  Yes, it can and probab

[2022-09-02 06:55] 1homas commented on #52
@paulcana , please use Markdown's triple-backtick notation (\`\`\`) for your code blocks next time so the formatting is preserved and readable for us. Including at sample `network_devices` definition would also be helpful so we do not need to recreate complex data structures.

[code]
I ran this *twice* and Ansible status was **`changed`** each time so I confirm that `cisco.ise.network_device` is *

[2022-09-02 12:49] RyanMBess commented on #48
Hi Thomas,
We are embarking on our infrastructure as code journey for our on-premises gear.  As part of this we are looking to have **single documents** that define the state of the the infrastructure (ISE in this case) and should any config in ISE deviate from the document the tool (Ansible in this case) would set the infrastructure back to match the document.  Should i want to rename an SGT, i s

[2022-09-30 19:34] bootsmo opened #56 "Need support for ISE 3.1 patch 4 functionality - create nested endpoint groups."
**Prerequisites**
* [X] Have you tested the operation in the API directly?
* [X] Do you have the latest ISE Collection version?

**Describe the bug**
ISE 3.1 Patch 4 adds the ability to create nested endpoint groups.  This is documented in Cisco bug ID CSCwb55232.
Current ISE SDK and/or Ansible collection does not support the necessary keywords to support this functionality.  Textfile attached sho

[2022-09-30 21:08] bvargasre commented on #56
Hello @bootsmo , currently version 3.1 patch 4 is not supported, when we receive the corresponding documentation we will release a new version that supports it and you will be notified.

[2022-10-03 15:11] paulcana opened #57 "issue with network access network conditions"
**Prerequisites**
* [x ] Have you tested the operation in the API directly?
* [x ] Do you have the latest ISE Collection version?

**Describe the bug**
network_access_network_conditions ansible module doesn't create conditions.
Documentation for ansible module doesn't correspond to the actual API behaviour. ciscoisesdk is not behaving correctly

**Expected behavior**
Ansible module should handle t

[2022-10-03 18:44] bootsmo commented on #56
FYI - I've also just learned that a few other APIs have been changed as well.  The Network Device Group attribute of "othername" has been changed to "ndgtype".

[2022-10-05 20:56] bvargasre commented on #52
Hi @paulcana , ansible-ise has been updated to version 2.5.4, so try this new version and tell me if it works.

[2022-10-05 21:05] bvargasre commented on #53
Hi @paulcana, the security warning has been removed in the new version 2.5.4
This module is not idempotent, but if you run the same playbook there should be no problem since you would try to update but the change is already done so basically nothing would change.

[2022-10-06 07:34] paulcana commented on #52
Hello,
I confirm it is now working as expected, you can close the ticket

[2022-10-06 07:39] paulcana commented on #53
Hi @bvargasre , I confirm the security warning is no longer present in 2.5.4.
I don't agree with your answer regarding idempotency.
The status is not clear for me. If it returns changed, it means the config has been pushed again. If nothing has been changed, then ansible should return changed: false status. Idempotency is critical when using ansible

[2022-10-06 22:03] #52 closed

[2022-10-07 21:57] #49 closed

[2022-10-07 21:59] bvargasre commented on #53
@paulcana a new version has been released and `personas_update_roles_services` module is now idempotent

[2022-10-11 18:45] bootsmo opened #61 "SXP Connection create incorrectly requires ID parameter"
**Prerequisites**
* [X] Have you tested the operation in the API directly?
* [X] Do you have the latest ISE Collection version?

**Describe the bug**
Creation of an SXP connection requires parameter "id".  The error message also erroneously claims that the parameter "state" is present when it is not part of the request body.  The SXP connection is subsequently not created in the ISE deployment.

*

[2022-10-13 23:08] bvargasre commented on #57
Hi @paulcana
The ciscoisesdk v2.0.5 and ansible-ise v2.5.4.  is available. Feel free to test it and close or comment if necessary.

[2022-10-13 23:09] bvargasre commented on #61
Hi @bootsmo
Ansible-ise v2.5.6. is available. Feel free to test it and close or comment if necessary.

[2022-10-14 19:49] bootsmo commented on #61
Confirmed - functionality now appears to be working as desired.
Thanks again.

[2022-10-14 19:49] #61 closed

[2022-10-18 15:41] RyanMBess commented on #54
Hi @bvargasre,
How goes updating the documentation.  In this example https://docs.ansible.com/ansible/latest/collections/cisco/ise/sgt_module.html#ansible-collections-cisco-ise-sgt-module you MUST have the value attribute populated or you will be unable to create the SGT.  Per the link it's not a required field.

[2022-10-19 03:02] bootsmo opened #63 "Profiler probe config incorrectly uses GET verb instead of PUT"
**Prerequisites**
* [X] Have you tested the operation in the API directly?
* [X] Do you have the latest ISE Collection version?

**Describe the bug**
Module cisco.ise.node_services_profiler_probe_config issues request with a GET verb instead of PUT verb.
This results in ISE only returning current configuration without any change in configuration.

**Expected behavior**
Issue request with PUT verb

[2022-10-19 07:52] paulcana commented on #53
I confirm it is working. you can close the ticket

[2022-10-19 08:49] paulcana commented on #57
Hello, I confirm it is now working.
One small remark, the documentation is inaccurate as it ask to use a tuple for deviceGroupList where the correct parameter is a list of strings
![image](https://user-images.githubusercontent.com/69456907/196643313-3dc47372-02b4-41af-a95f-de6a0b206124.png)

[2022-10-19 17:58] bvargasre commented on #63
Hi @bootsmo
Could you please send me the playbook you used for the tests

[2022-10-19 23:14] bootsmo commented on #63
[profiler-config.yml.txt](https://github.com/CiscoISE/ansible-ise/files/9824932/profiler-config.yml.txt)
[profiler-services.yml.txt](https://github.com/CiscoISE/ansible-ise/files/9824933/profiler-services.yml.txt)
Attached as .txt files.
profiler-config.yml is the playbook, and profiler-services.yml is the dictionary specifying the intended service parameters.

[2022-10-20 18:16] bvargasre commented on #63
@bootsmo I think the problem may be here `profiler-services.yml` with this `-`
[code]
  Try this change
[code]
  if the problem persists, let me know

[2022-10-20 20:35] bootsmo commented on #63
After making the suggested changes I did have to change the radius: attribute from dict to list, but otherwise I'm still getting the same results.

[2022-10-20 21:43] bvargasre commented on #63
From the tests I have done the only thing I found was the `-` in the first level variables when I corrected it I did not find anything else and the module worked fine for me.

Add this debug
[code]
Before performing the PUT, the module performs a GET to compare bodies and verify if it needs changes, in case it does not detect changes, it sends this message "Object already present", in case there a

[2022-10-20 23:10] bootsmo commented on #63
[ProfilerServicesTshootData20221020.txt](https://github.com/CiscoISE/ansible-ise/files/9834453/ProfilerServicesTshootData20221020.txt)
Console output attached here along with current state of playbook and input file.  Single run, two nodes.  The PAN node is preconfigured with no profiler probes enabled.  The PSN/RADIUS node is configured as intended and described in the input file.

[2022-10-21 17:44] #53 closed

[2022-10-26 02:19] bvargasre commented on #63
Hi @bootsmo, ansible-ise v2.5.7 is up
Try with this new version and let me know if works for you
##
One thing I noticed is that the body of dhcp is wrong,
[code]
it works if it is a list of strings, but it is not, it is a list of interfaces.
[code]

[2022-10-26 02:20] bvargasre commented on #57
The description has been corrected

[2022-10-26 02:20] #57 closed

[2022-10-26 02:34] bvargasre commented on #54
Cisco has been informed about the `required` problem, but we have not been provided with new documentation yet.
#
For the moment I updated the documentation of the required fields for the creation of an sgt from the `sgt` module.
The change can be seen here
https://ciscoise.github.io/ansible-ise/main/plugins/sgt_module.html#ansible-collections-cisco-ise-sgt-module
The changes will be reflected in

[2022-10-26 17:52] bootsmo commented on #63
We're getting closer.  Console output with debug attached.
My PAN node is not configured, which should be corrected by the playbook, and the PSN node is configured as desired so the playbook should do nothing.
The logic appears to be backwards at the moment as the playbook did not take action on the PAN node but did try to correct the PSN node.  The request sent to the PSN didn't appear to contain

[2022-10-26 22:34] bvargasre commented on #63
In the test you did, did you remove the `-` at the first level that I told you in profiler_config?
I see in the ProfilerServicesTshootData20221026.txt that you didn't remove them, then to confirm

[2022-10-26 23:34] bootsmo commented on #63
@bvargasre - I thought I had removed the ```-``` but that must have been in a different branch.
I also had to correct the interface name used for DHCP to include a space between the interface type and the numeral.
Testing is now showing desired results.  OK to close issue.

If it helps anyone else, here's my playbook followed by the data being used by the playbook:
[code]

[code]

[2022-10-26 23:34] #63 closed

[2022-11-02 21:25] bvargasre opened #66 "node_primary_to_standalone, node_secondary_to_primary, node_standalone_to_primary status not changed"
**Prerequisites**
* [X] Have you tested the operation in the API directly?
* [X] Do you have the latest ISE Collection version?

**Describe the bug**
Does not change the status of changed when perform the executed correctly, It also does not check whether you need to run of the following modules;
node_primary_to_standalone, node_secondary_to_primary, node_standalone_to_primary

**Expected behavior

[2022-11-02 21:31] bvargasre opened #67 "trusted_certificate_export_info needs the parameter hostname"
**Prerequisites**
* [X] Have you tested the operation in the API directly?
* [X] Do you have the latest ISE Collection version?

**Describe the bug**
When I try to use cisco.ise.trusted_certificate_export_info to export certificates with ISE 3.2 and Ansible collection isco.ise 2.5.6 , it complains

**Expected behavior**
Add hostname as a parameter

**Screenshots**
[code]
![image](https://user-imag

[2022-11-02 21:40] bvargasre opened #68 "Certificates cannot be deleted"
**Prerequisites**
* [X] Have you tested the operation in the API directly?
* [X] Do you have the latest ISE Collection version?

**Describe the bug**
I am unable to delete certificates because I get an error:
[code]
But if in postman I add allowWildcardDelete it can be deleted.

**Expected behavior**
Add allowWildcardDelete as a parameter

**Screenshots**
![image](https://user-images.githubusercon

[2022-11-02 22:31] bvargasre commented on #67
@1homas
trusted_certificate_export_info in 3.1_patch_1 does not need HostName
3.2 is currently not supported
[code]

[2022-11-07 18:03] bvargasre opened #70 "licensing_eval_license_info - response body is different"
**Prerequisites**
* [X] Have you tested the operation in the API directly?
* [X] Do you have the latest ISE Collection version?

**Describe the bug**
licensing_eval_license_info - response body is different
ise_reponse changes the structure of the response
postman response
[code]
ansible response
[code]

**Expected behavior**
Ansible responds with the same structure

**Environment (please complete

[2022-11-10 12:43] RyanMBess opened #71 "Populate Cisco ISE Endpoint Group by name"
When creating an endpoint in ISE, please support allowing that endpoint to be added to an endpoint group via it's name.  Currently as best i can tell you have to get the endpoint group ID then you can add the endpoint to the endpoint group via it's ID.  If I'm missing something please provide the code that allows you to add an endpoint to an endpoint group via the endpoint group name.

I've seen t

[2022-11-12 03:12] bvargasre commented on #66
Hi @1homas there is a new version of ansible-ise v2.5.9
Now all three modules detect the state change when executing the operation.
Also the hostname parameter was added as it requires the hostname to be able to check if it should be executed.
##
Credentials can now be exported allowing playbooks to be smaller and more readable.
https://github.com/CiscoISE/ansible-ise#using-environment-variables
#

[2022-11-12 03:12] #66 closed

[2022-11-12 03:12] bvargasre commented on #68
Hi @1homas, in the new version of ansible-ise v2.5.9 the parameter allowWildcardDelete has been added.
Also ciscoisesdk was upgraded to v2.0.8
##
Credentials can now be exported allowing playbooks to be smaller and more readable.
https://github.com/CiscoISE/ansible-ise#using-environment-variables
##
I will close the issue, if the problem persists feel free to reopen it.

[2022-11-12 03:12] #68 closed

[2022-11-12 03:12] bvargasre commented on #70
Hi @1homas, in the new version of ansible-ise v2.5.9 the response was corrected.
##
Credentials can now be exported allowing playbooks to be smaller and more readable.
https://github.com/CiscoISE/ansible-ise#using-environment-variables
##
I will close the issue, if the problem persists feel free to reopen it.

[2022-11-12 03:12] #70 closed

[2022-11-15 14:53] paulcana opened #72 "Not possible to create an authorization rule with an OR or AND block condition"
**Prerequisites**
* [ x] Have you tested the operation in the API directly?
* [ x] Do you have the latest ISE Collection version?

**Describe the bug**
A clear and concise description of what the bug is.
When using authorization rule module cisco.ise.network_access_authorization_rules, the ansible playbook is failing.
Error message is error 400: request has bad input format in the body
It is faili

[2022-11-16 18:35] bootsmo commented on #72
I think the issue may be with ISE 3.1 patch 3.  We know some APIs changed with patch 4, and I've got unconfirmed reports of API changes in patch 3 as well.
I ran a playbook with multiple and/or conditions last night using collection version 2.5.9 against ISE 3.1 with patch 1 and had no issues.  The main difference between your condition block and mine is that I didn't include the 'name' attribute

[2022-11-17 08:56] paulcana commented on #72
Hello @bootsmo
Indeed there is one bug fix on patch 4 which looks related to our issue
https://bst.cloudapps.cisco.com/bugsearch/bug/CSCwb82814

I will upgrade to 3.1 patch 4 and test again, then I'll let you know about the result

[2022-11-23 12:26] Rajasekar0104 opened #73 "ISE 3.1Patch 4 Network device Group has different attributes"
**Prerequisites**
* [x] Have you tested the operation in the API directly? Yes
* [x] Do you have the latest ISE Collection version?

**Describe the bug**
When we are trying to create a Network Device Group via Ansible in ISE 3.1 Patch 4 we are getting Error

*Failed: Invalid JSON: Unrecognized field \"othername\" *

Ansible has the Defined structure of for network device groups as
I) Name : string

[2022-11-23 15:08] einarnn commented on #73
I can only apologize for this. This is a backwards incompatible change that will be rolled back.

[2022-11-24 09:12] Rajasekar0104 commented on #73
Thanks @einarnn  For the responce. I see the same issue in ISE 3.2 as well. So probably will it stick with _ndg_